@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BancoDeDados.Models.CommentsView;


<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <div>
            @if(Model.comentarios == null)
            {
                <p>seja o primeiro a comentar</p>
            }
            else
            {
                foreach(var item in Model.comentarios)
                {
                    <div>
                        <a asp-action="Profile" asp-controller="Account" asp-route-id="@item.UserID">
                            <img src="@Url.Content(item.UserImage)">
                            @item.UserName
                        </a>
                        <p>@item.Texto</p>
                        <a>Responder</a>
                    </div>
                }
            }
        </div>
        <form asp-action="DoComment">
            <input type="text" maxlength="500" placeholder="Comente Aqui" required name="texto">
            <input type="hidden" required name="publicacaoID" value="@Model.PublicacaoID">
            <input type="submit">
        </form>
    </body>
</html>